@import '../../services/colors.scss';

.content-project {
  border: 1px solid $border;
  border-width: 1px 0 0 0;

  &__table-row {
    td:nth-child(1) {
      width: 110px;
    }
    td:nth-child(2) {
      width: max-content;
    }
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6) {
      width: 200px;
    }
  }

  &__add-button {
    margin: 20px;
  }

  .MuiTable-root {
    margin-left: 10px;
    width: calc(100% - 10px);
  }

  .MuiTableRow-root {
    height: 60px;
    box-sizing: border-box;
  }

  .MuiTableCell-root {
    padding: 0 12px;
    box-sizing: border-box;
    height: 60px;
  }

  .MuiInputBase-root {
    height: 35px;
  }

  .MuiPaper-root {
    background-color: #202124;
    background-image: none;
  }
}
