@import '../../services/colors.scss';

.header {
  border: 1px solid $border;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;

  &__tabs {
    min-height: auto !important;
  }

  .MuiTabs-root {
    margin-left: 7px;
  }

  .MuiTabs-flexContainer {
    gap: 20px;
  }

  .MuiButtonBase-root {
    color: #fff !important;
    padding: 13px 4px 11px;
    text-transform: none;
    min-height: auto !important;
  }
}
