.options {
  width: max-content;
  display: flex;
  justify-content: start;
  border-radius: 6px;
  padding: 6px !important;
  cursor: pointer;
  position: relative;
  z-index: 1;

  @media (hover: hover) {
    &:hover {
      gap: 6px;
      background-color: #414144;

      .options__delete {
        pointer-events: all;
        opacity: 1;
        display: block;
      }
    }
  }

  &__add-has-parent {
    position: relative;

    &:before {
      content: '';
      width: 11px;
      height: 1px;
      background-color: #c6c6c6;
      position: absolute;
      right: calc(100% - 3px);
      bottom: 12px;
    }

    &:after {
      content: '';
      width: 1px;
      height: 60px;
      background-color: #c6c6c6;
      position: absolute;
      right: calc(100% + 8px);
      bottom: 12px;
    }
  }

  &__delete {
    display: none;
    pointer-events: none;
    opacity: 0;
  }
}
